.content-container{
	margin-top:100px;
}
.clickable:hover{
	cursor:pointer;
}
.marked{
	border-color: #d9534f;
	border-style: solid;
	border-width: 2px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noselect:hover{
	cursor: default;
}

.btf-modal {
  	position: fixed;
	top: 30%;
	left: 50%;
	width: 50%;
	max-width: 550px;
	min-width: 330px;
	height: auto;
	z-index: 2000;
	background-color: white;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.navbar{
	height:70px;
}

.borderless td, .borderless th {
    border: none!important;
}