<h1 style="margin-top:100px">Formkonfigurator</h1>
<div class="col-md-6">
<table class="table">
	<thead>
		<th class="col-md-4">Name</th>
		<th class="col-md-8"></th>
	</thead>
	<tbody>
		<tr ng-repeat="field in form_fields | orderBy: 'rank'" ng-click="selectField(field)">
			<td class="col-md-6"><h3>{{field.title}}</h3></td>
			<td class="col-md-4">			
				<div class="form-group">
					<button ng-click="deleteFormField(field.id)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
					<button ng-click="moveUp(field)" class="btn btn-default"><span class="glyphicon glyphicon-chevron-up"></span></button>
					<button ng-click="moveDown(field)" class="btn btn-default"><span class="glyphicon glyphicon-chevron-down"></span></button>
				</div>
			</td>
		</tr>
		<tr>
			<td class="col-md-2"><button class="btn btn-success"><h3>Frage hinzufügen</h3></button></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
<div class="col-md-6" ng-show="selected_field.title !== undefined">
	<h4>Bearbeite Feld: {{selected_field.title}}</h4>
	<table class="table col-md-6">
		<thead>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			<tr>
				<td>Beschriftung</td>
				<td><input type="text" ng-model="selected_field.title"></td>
			</tr>
			<tr>
				<td>Feldtyp</td>
				<td><select ng-options="type for type in type_options" ng-model="selected_field.type" class="form-control"></select></td>
			</tr>
			<tr>
				<td>Platzhalter</td>
				<td><input type="text" ng-model="selected_field.placeholder"></td>
			</tr>
			<tr>
				<td><button class="btn btn-success" ng-click="saveField(selected_field)">Speichern</button></td>
			</tr>

		</tbody>
		</table>
</div>