<div class="col-md-12">
<h2>Form Struktur</h2>
<table class="table">
	<thead>
		<th class="col-md-3">Name</th>
		<th class="col-md-2"></th>
		<th class="col-md-7"></th>
	</thead>
	<tbody>
		<tr class="clickable" ng-repeat="field in form_fields | orderBy: 'rank'" ng-click="selectField(field)">
			<td><h4>{{field.title}}</h4></td>
			<td>			
				<div class="form-group">
					<button ng-disabled="field.rank===1" ng-click="moveUp(field)" class="btn btn-default"><span class="glyphicon glyphicon-chevron-up"></span></button>
					<button ng-disabled="field.rank >= form_fields.length" ng-click="moveDown(field)" class="btn btn-default"><span class="glyphicon glyphicon-chevron-down"></span></button>
					<button ng-click="deleteFormField(field)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
				</div>
			</td>
			<td ng-show="field.isSelected">
				<form class="form" name="field_form">
					<table class="table col-md-12">
						<tbody>
							<tr>
								<td>Beschriftung</td>
								<td><input class="form-control" type="text" ng-model="field.title" required></td>
							</tr>
							<tr>
								<td>{{field.type}}</td>
								<td>
									<select ng-options="v.title as k for (k, v) in type_options" ng-change="changeType(field)" class="form-control" ng-model="field.type"></select>
								</td>
							</tr>
							<tr ng-show="type_options[field.type].hasOptions">
								<td>Verfügbare Optionen</td>
								<td>
									<table class="table">
										<tbody>
											<tr ng-repeat="option in field.option">
												<td>{{option.value}}</td>
												<td></td>
											</tr>
											<tr>
												<td>
													<input class="form-control" type="text" ng-model="field.new_option" placeholder="Bitte Option eingeben">
												</td>
												<td>
													<button class="btn btn-success" ng-click="addOption(field)">Hinzufügen</button>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr ng-show="type_options[field.type].hasPlaceholder">
								<td>Platzhalter</td>
								<td><input class="form-control" type="text" ng-model="field.placeholder" ng-required="type_options[field.type].hasPlaceholder" placeholder="Bitte Platzhalter eingeben"></td>
							</tr>
							<tr>
								<td>Position</td>
								<td>{{field.rank}}</td>
							</tr>
							<tr>
								<td><button ng-disabled="field_form.$invalid" class="btn btn-success" ng-click="saveField(field)">Speichern</button></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</form>
			</td>
		</tr>
		<tr>
			<td class="col-md-2"><button class="btn btn-success" ng-click="newField()"><h4>Frage hinzufügen</h4></button></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>