<style>
	.applicant-container{

	}
	.question-input-container{
		margin-top:50px;
	}
	.btn-control{
		min-width:120px;
	}
</style>

<div class="row ">
	<div class="col-md-8 col-md-offset-2">
		<button ng-disabled="!(applicant_pointer > 0)" class="btn btn-default btn-lg" ng-click="toggleApplication('last')"><span class="glyphicon glyphicon-chevron-left"></span>
		</button>
		<button class="btn btn-control btn-success" ng-class="{'btn-lg':selected_application.own_vote ==='pro'}" ng-click="selected_application.saveVote('pro')">Einladen</button>
		<button class="btn btn-warning btn-control" ng-class="{'btn-lg':selected_application.own_vote ==='neutral'}" ng-click="selected_application.saveVote('neutral')">Neutral</button>
		<button class="btn btn-danger btn-control" ng-class="{'btn-lg':selected_application.own_vote ==='con'}" ng-click="selected_application.saveVote('con')" ng-click="selected_application.saveVote('con')">Ablehnen</button>
		<button ng-disabled ="applicant_pointer >= applications.length-1" class="btn btn-default btn-lg" ng-click="toggleApplication('next')"><span class="glyphicon glyphicon-chevron-right"></span></button>
	</div>
</div>
<div class="row" style="margin-top: 50px">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="applicant-container">
				<div class="row">
					<div class="col-md-2">
						<div class="" ng-repeat="field in form_fields">
							<p>{{field.title}}</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="" ng-repeat="answer in selected_application.attr.answers">
							<p>{{answer.value}}</p>
						</div>
					</div>
					<div class="col-md-4">
						<img ng-src="client/assets/profil.gif" height="200px" width="200px">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-2">
						<p>Fragen:</p>
					</div>
					<div class="col-md-10">
						<table class="table table-condensed borderless">
							<tr ng-repeat="question in selected_application.attr.questions">
								<td class="col-md-10"><p>{{question.value}}</p></td>
								<td class="col-md-2"><button ng-show="this_user.mId === question.mId" ng-click="selected_application.deleteQuestion($index)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></button></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="question-input-container">
				<form name="question_form">
					<div class="row">
						<div class="col-md-2">
							<p>Deine Frage</p>
						</div>
						<div class="col-md-6">
							<input type="text" style="width:100%" ng-model="new_question" required>				
						</div>
						<div class="col-md-2">
							<button ng-disabled="question_form.$invalid" class="btn btn-default btn-sm" ng-click="selected_application.addQuestion(new_question)">Frage hinzufügen</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>